*.o
*.lo
*.la
*.gmo
.libs
*.log
*.substvars
Makefile

/m4
/Thunar-bulk-rename.desktop
/Thunar-folder-handler.desktop
/Thunar.desktop
/ThunarBulkRename
/autom4te.cache/
/config.h
/config.status
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/libthunarx-2-0/
/debian/libthunarx-2-dev/
/debian/thunar-data/
/debian/thunar-dbg/
/debian/thunar/
/debian/tmp/
/libtool
/org.xfce.FileManager.service
/org.xfce.Thunar.service
/org.xfce.thunar.policy
/plugins/thunar-sendto-email/thunar-sendto-email
/plugins/thunar-sendto-email/thunar-sendto-email.desktop
/plugins/thunar-tpa/thunar-tpa.desktop
/plugins/thunar-uca/uca.xml
/po/.intltool-merge-cache
/po/Makefile.in
/po/POTFILES
/po/Thunar.pot
/po/stamp-it
/stamp-h1
/thunar.appdata.xml
/thunar/thunar
/thunar/thunar-settings.desktop
/thunarx/thunarx-2.pc
